<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-3">University of Africa Toru-Orua</h1>
        <p class="lead">
          Welcome to the University of Africa, at Toru-Orua (UAT), one of
          Africa’s youngest institutions, having taken in its first cohort of
          undergraduate students in 2017. UAT, a State university with a strong
          focus on “internationalisation” represents a new way of providing and
          managing higher education, combining the benefits of strong State
          support with private sector entrepreneurial thinking.
        </p>
        <p>
          Its commitment to internationalisation is amply reflected in its
          curricular structure, partnerships with carefully selected
          institutions in other parts of the world and the composition of both
          its faculty and students.
        </p>
      </div>
    </div>

    <p>
      Join our community
      <a href="https://uat.edu.ng" target="_blank">Visit us</a>.
    </p>
  </div>
</div>
