<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">University of Africa Toru-Orua</h1>
          <p class="lead">
            The University of Africa Repository represents a concise and
            coordinated warehouse of intellectual resource, books, journals,
            research materials, academic volumes, and manuscripts. However, by
            no means is it restricted to the above-listed. It is a condensed tip
            of the educational contributions of past and present academia,
            broadening to include scholarly enterprise, literary achievements,
            hypothetical reasoning and an array of intellectual gifts from the
            University of Africa to anyone whose search for answers and
            solutions brings them to this doorstep.
          </p>
        </div>
      </div>

      <p>
        Join our community
        <a href="https://uat.edu.ng" target="_blank">Visit us</a>.
      </p>
    </div>
  </div>
  <picture class="background-image">
    <source
      type="image/webp"
      srcset="
        assets/dspace/images/banner.webp      2000w,
        assets/dspace/images/banner-half.webp 1200w,
        assets/dspace/images/banner-tall.webp  768w
      "
    />
    <source
      type="image/jpg"
      srcset="
        assets/dspace/images/banner.jpg      2000w,
        assets/dspace/images/banner-half.jpg 1200w,
        assets/dspace/images/banner-tall.jpg  768w
      "
    />
    <img
      alt=""
      [src]="'assets/dspace/images/banner.jpg'"
    /><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>
